html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.imgcontainer {
  display: flex;
  justify-content: center;
}

.thumbnails {
  padding-left: 30px;
  margin: 0px;
  height: 58px;
  display: flex;
  flex-direction: column;
  line-height: 0;
  list-style: none;
  
  li {
    flex: auto; 
    list-style: none;
  }

  a {
    display: block;
  }
  
  img {
    width: 15vmin;
    height: 100%;
    margin: 2px;
    object-fit: cover;
    object-position: top;
    list-style: none;
    border: 3px solid black;
  }
}

.slides {
  padding: 0px !important;
  overflow: hidden;
  width: 79vmin;
  height: 100vmin;
  
  li {
    width: 75vmin;
    height: 110vmin;
    position: absolute;
    z-index: 1;
    list-style: none;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}


@keyframes slide {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hidden {
  0% {
    z-index:1;
  }
  100% {
    z-index: 1;
  }
}
.productcss{
    display: flex;
    margin-top: 3rem;
}
.productcss div{
    display: flex;
    flex-direction: row;
}
.cont2{
  font-size: 15px;
  padding-right: 20px;
  display: flex;
  flex-direction: column !important;
}
.cont2btns button{
padding: 7px 55px;
margin: 2px;
font-size: 16px;
}

.product-grid {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product-card:hover .buy-button {
  opacity: 1;
}

.product-details {
  padding: 15px;
  text-align: center;
}

.product-details h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-details p {
  font-size: 14px;
  color: #888;
  margin: 5px 0;
}

.price {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.icon-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0f0f0f;
  font-size: 26px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .icon-top-right {
  opacity: 1;
}

.badge-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .badge-top-left {
  opacity: 1;
}

.cartcontainer{
  display: flex;
  padding: 8px;
  margin-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartcontainer img{
  width: 23vmin;
}