html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.imgcontainer {
  display: flex;
  width: 70%;
  margin-left: 10px !important;
  margin-right: 50px !important;
  justify-content: center;
}
.cont1{

}

.thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
  width: 50%;
  height: 30%;
  list-style: none;
  
  li {
    flex: auto; 
  }

  a {
    display: block;
    padding: 2px;
    height: 100%;
    width: 100%;
  }
  
  img {
    list-style: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
    object-position: top;
  }
}

.slides {
  overflow: hidden;
  width: 75vmin;
  padding: 0px !important;
  height: 100vmin;
  list-style: none;
  
  li {
    width: 75vmin;
    height: 100vmin;
    position: absolute;
    z-index: 1;
  }
  
  img {
    height: 100vmin;
    object-fit: cover;
    object-position: top;
  }
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
.productcss{
    display: flex;
    margin-top: 3rem;
}
.productcss div{
    display: flex;
    flex-direction: row;
}
.cont2{
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column !important;
}
.cont2btns button{
padding: 7px 55px;
margin: 2px;
font-size: 16px;
}

.product-grid {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px; /* Spacing between product cards */
}