*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbarbtns {
  color: white;
}
.hero-txt{
  font-size: 37px;
}
.top-navbar a{
  font-size: 13px;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  color: #242526;
  background: white;
}
nav .wrapper{
  color: black;
  position: relative;
  max-width: 1300px;
  padding: 0px 20px;
  height: 40px;
  line-height: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .nav-links{
  display: inline-flex;
  color: black;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #000;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 17px;
  letter-spacing: 2px;
  border-bottom: 2px solid white;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  border-bottom: 2px solid black;
  color: #000;
}
.nav-links{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background-color: white;
  width: 180px;
  line-height: 45px;
  top: 85px;
  color: black;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  color: #000;
  top: 35px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 125px;
  font-weight: 400;
  border-radius: 0px;
  color: black;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 300px;
  color: black;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background-color: white;
  padding: 12px;
  display: flex;
  color: black;
  width: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(55% - 30px);
  line-height: 27px;
}
.content .row .mega-links{
  margin-left: -20px;
}
.row .mega-links li{
  padding: 0 48px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0px;
  color: black;
  font-size: 12px;
  display: block;
}
.row .mega-links li a:hover{
  color: black;
}
.wrapper .btn{
  color: black;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 60px;
}
.wrapper .btn.close-btn{
  color: black;
  background-color: black;
  position: absolute;
  right: 20px;
  top: 10px;
}


nav input{
  display: none;
}
.slider-container {
  width: 100%;
  margin-bottom: 12px;
}
.slider-container img{
  padding: 15px;
}
.slider-container div h3{
  font-size: 13px;
}
.slider-container img{
  border-radius: 50%;
}

.slick-slide h3 {
  text-align: center;
}

.mariabslider{
  display: flex;
  justify-content: center;
  align-items: center;
}












